.link {
  padding: 0;
  display: block;
  margin-bottom: 2.4rem;
  cursor: pointer;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
