.fInfo {
  position: relative;
  margin-bottom: 5rem;

  .grid-l {
    display: grid;
    grid-template-columns: 325px 325px 325px;
    justify-content: center;
    justify-content: space-between;

    @media screen and (max-width: 1200px) {
      grid-template-columns: 325px;

      row-gap: 2rem;
      justify-content: center;

      .logo {
        justify-self: end;
      }
    }

    .grid-sm {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100%));
      row-gap: 1rem;
      font-size: 16px;
    }

    .item {
      display: flex;
      flex-direction: column;
      box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1), 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      padding: 1rem;
    }

    .title {
      margin-bottom: 2rem;
    }
  }
}
