.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  height: 72px;

  .container {
    height: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
  }
}
