.fInfo {
  position: relative;

  .grid-l {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    justify-content: center;
    gap: 2rem;

    .grid-sm {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100%));
      gap: 1rem;
      justify-content: center;
    }

    .item {
      display: flex;
      flex-direction: column;
      border: 1px solid red;

      .title {
        font-size: 1.3rem;
        font-weight: 500;
        line-height: 1.25em;
        text-transform: uppercase;
        letter-spacing: 0.16rem;
      }
    }
  }
}
