.toggler {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 56px;
  height: 38px;
  padding: 12px 8px 11px 8px;
  cursor: pointer;
  pointer-events: all;
  margin-right: -8px;
  outline: 0;
  border: none;
  background-color: transparent;
  color: var(--textColor);
  position: relative;
}

.top {
  width: 100%;
  height: 1px;
  background-color: var(--textColor);
  transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  overflow: hidden;
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--textColor);
    transform: translateX(-100%);
    transition: 0.25s 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
}
.middle {
  width: 100%;
  height: 1px;
  background-color: var(--textColor);
  transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  overflow: hidden;
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--textColor);
    transform: translateX(-100%);
    transition: 0.25s 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
}
.bottom {
  width: 100%;
  height: 1px;
  background-color: var(--textColor);
  transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  overflow: hidden;
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--textColor);
    transform: translateX(-100%);
    transition: 0.25s 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
}
