.link {
  display: block;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out;

  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.25em;
  text-transform: uppercase;
  letter-spacing: 0.16rem;
  color: var(--textColor);

  padding-left: 0;
  padding-inline-start: 0;

  &:hover {
    color: var(--blue);
    text-decoration: none;
  }
}
